@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/NotoSansJP-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

:root {
    --background: #dbe59c;
    --link: #62834b;
    --text: #112c18;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    color:inherit;
    line-height:1.5;
}

html {
    height: 100%;
    font-size: 19px;
}

body {
    width: 700px;
    height: 100%;
    margin: 0 auto;
    padding:10px;
    font-family: "DotGothic16", sans-serif;
    font-size: 1rem;
    color: var(--link);
    background-color: var(--background);
}

header {
    display: flex;
    gap: 10px;
    margin-bottom:20px;
}

a {
    text-decoration: none;
}

h1 {
    font-size:1.2rem;
}

nav a {
    text-decoration: underline;
}

header h1, header p {
    font-size:1.2rem;
    margin-right:auto;
}

ul {
    list-style: none;
}

li::before {
    content: "・";
}

li a {
    text-decoration: underline;
}

article {
    color: var(--text);
}

article * {
    line-height:1.5;
}

article h1 {
    color: var(--link);
    margin-bottom:15px;
}
