:root {
    --bg: #dbe59c;
    --link: #62834b;
    --text: #112c18;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
    color:inherit;
    line-height:1.5;
}

html {
    height: 100%;
    font-size: 19px;
}

body {
    width: 700px;
    height: 100%;
    margin: 0 auto;
    padding:10px;
    font-family: "DotGothic16", sans-serif;
    font-size: 1rem;
    color: var(--link);
    background-color: var(--bg);
}

header {
    display: flex;
    gap: 10px;
    margin-bottom:20px;
}

article header {
    margin-bottom:15px;
}

a {
    text-decoration: underline;
}

.title{
    font-size:1.2rem;
    margin-right:auto;
}

.title a {
    text-decoration: none;
}

h2 {
    color: var(--text);
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin-bottom:1rem;
}

li::before {
    content: "・";
}

li.more {
    font-size: 0.9rem;
    text-align: right;
}

li.more::before {
    content: "";
}

.content p {
    color: var(--text);
}
